<div class="w-full px-12 bg-[#000000] backdrop-blur-[5px] text-white flex items-center justify-between">

    <div class="flex gap-5 items-center">
        <a href="/" class="text-xl">QAA</a>
        <div class="dropdown flex gap-5 text-neutral-500">
            <div class="menu p-4">
                <div class="flex items-center gap-1 cursor-pointer">
                    <button>Categories</button>
                    <i class='bx bx-chevron-down'></i>
                </div>
                <div class="bg-white absolute w-[25%] top-14 max-w-96 hidden group shadow-md">
                    <nav>
                        <ul>
                            <a href="https://youtube.com">
                                <li class="w-full py-3.5 px-7 hover:bg-blue-600 hover:text-white">Sub categories</li>
                            </a>
                            <a href="https://youtube.com">
                                <li class="w-full py-3.5 px-7 hover:bg-blue-600 hover:text-white">Sub categories</li>
                            </a>
                            <a href="https://youtube.com">
                                <li class="w-full py-3.5 px-7 hover:bg-blue-600 hover:text-white">Sub categories</li>
                            </a>
                            <a href="https://youtube.com">
                                <li class="w-full py-3.5 px-7 hover:bg-blue-600 hover:text-white">Sub categories</li>
                            </a>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="menu p-4">
                <div class="flex items-center gap-1 cursor-pointer">
                    <button>Categories</button>
                    <i class='bx bx-chevron-down'></i>
                </div>
                <div class="bg-white absolute w-[25%] top-14 max-w-96 hidden group shadow-md">
                    <nav>
                        <ul>
                            <a href="https://youtube.com">
                                <li class="w-full py-3.5 px-7 hover:bg-blue-600 hover:text-white">Sub categories</li>
                            </a>
                            <a href="https://youtube.com">
                                <li class="w-full py-3.5 px-7 hover:bg-blue-600 hover:text-white">Sub categories</li>
                            </a>
                            <a href="https://youtube.com">
                                <li class="w-full py-3.5 px-7 hover:bg-blue-600 hover:text-white">Sub categories</li>
                            </a>
                            <a href="https://youtube.com">
                                <li class="w-full py-3.5 px-7 hover:bg-blue-600 hover:text-white">Sub categories</li>
                            </a>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="menu p-4">
                <div class="flex items-center gap-1 cursor-pointer">
                    <button>Categories</button>
                    <i class='bx bx-chevron-down'></i>
                </div>
                <div class="bg-white absolute w-[25%] top-14 max-w-96 hidden group shadow-md">
                    <nav>
                        <ul>
                            <a href="https://youtube.com">
                                <li class="w-full py-3.5 px-7 hover:bg-blue-600 hover:text-white">Sub Categories</li>
                            </a>
                            <a href="https://youtube.com">
                                <li class="w-full py-3.5 px-7 hover:bg-blue-600 hover:text-white">Sub Categories</li>
                            </a>
                            <a href="https://youtube.com">
                                <li class="w-full py-3.5 px-7 hover:bg-blue-600 hover:text-white">Sub Categories</li>
                            </a>
                            <a href="https://youtube.com">
                                <li class="w-full py-3.5 px-7 hover:bg-blue-600 hover:text-white">Sub Categories</li>
                            </a>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <label for="search"
        class="flex gap-3 items-center border-[1px] py-2 px-4 border-neutral-700 rounded-lg cursor-text	">
        <i class='bx bx-search-alt text-neutral-700 border-r-2 w-8 border-neutral-700'></i>
        <input type="text" id="search" autocomplete="off" placeholder="Type / to search"
            class="border-0 bg-transparent outline-0 text-sm">
    </label>

    <script>
        const dropdowns = document.querySelectorAll('.dropdown div.menu');
        for (let index = 0; index < dropdowns.length; index++) {
            dropdowns[index].addEventListener('mouseover', event => {
                dropdowns[index].querySelector('.group').classList.remove('hidden');
            });
            dropdowns[index].addEventListener('mouseout', event => {
                dropdowns[index].querySelector('.group').classList.add('hidden');
            });
        }
    </script>

</div>