<%- include ('./partials/header.ejs') %>

<body class="h-screen bg-[#0d1117]">
  <%- include ('./partials/menu.ejs') %>

  <main class="p-12 text-6xl text-white flex items-center" style="height: calc(100% - 70px);">
    <div class="flex flex-col gap-5">
      <h1 class="uppercase tracking-widest">Faça uma pergunta <br> E receba ajuda</h1>
      <p class="text-slate-700 w-[40%] text-lg">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non saepe adipisci quas hic placeat ducimus quasi veniam reprehenderit iure aliquam molestias nemo atque deserunt, minima facilis ratione eaque nesciunt laborum?</p>
      <button class="text-lg w-48 p-2 rounded-lg bg-blue-600">Faça uma pergunta</button>
    </div>
    <div>

    </div>
  </main>

</body>
<%- include ('./partials/footer.ejs') %>