<%- include ('../partials/header.ejs') %>

  <body class="h-screen w-screen flex-col flex justify-center items-center">

    <div class="flex-col p-10 border rounded-xl">
        <h3 class="text-gray-500 text-3xl mb-2">Verifique seu e-mail.</h3>
        <a href="/Browser" class="underline">Voltar para o tela inícial</a>
    </div>
    
  </body>
  <%- include ('../partials/footer.ejs') %>