<%- include ('../partials/header.ejs') %>

  <body class="h-screen w-screen flex-col flex justify-center items-center">

    <div class="flex-col p-10 border rounded-xl">
      <h3 class="text-gray-500 text-3xl mb-2">Verifique seu e-mail.</h3>
      <a href="/browser">Voltar</a>
    </div>


    <script src="/socket.io/socket.io.js"></script>

    <script>
      const socket = io();

      const random = Math.random() * (100000 - 0) * 100000;

      socket.emit('magicLogin', (random));

      socket.on(`magicLogin${random}`, () => {
        window.location.assign('http://localhost:5173/browser')
      })

    </script>

  </body >
  <% - include('../partials/footer.ejs') %>