<%- include ('../partials/header.ejs') %>

    <style>
        html,
        body {
            height: calc(100% - 56px) !important;
        }
    </style>
    <script src="https://cdn.tiny.cloud/1/<%= TINY_KEY %>/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
    <script>

        tinymce.init({
            selector: '#desc'
        });
    </script>

    <body>
        <%- include ('../partials/menu.ejs') %>

            <form action="/Question/Save" method="post" class="hidden">
                <input type="text" id="name">
                <input type="text" id="category">
                <input type="checkbox" name="checkbox">
                <textarea>

                </textarea>
            </form>

            <div class="w-full h-full flex items-center justify-center">
                <div class="w-[570px] h-[500px] border rounded-lg p-5 box">
                    <div class="flex justify-center gap-4" id="stepcircle">
                        <div class="flex items-center justify-center flex-col">
                            <div class="w-6 h-6 rounded-full flex justify-center items-center border border-gray-300">
                                <i class='bx bx-check text-white'></i>
                            </div>
                        </div>
                        <div class="flex items-center justify-center flex-col">
                            <div class="w-6 h-6 rounded-full flex justify-center items-center border border-gray-300">
                                <i class='bx bx-check text-white'></i>
                            </div>
                        </div>
                    </div>

                    <div id="steps" class="h-full">
                        <div class="flex items-center justify-center flex-col gap-6" style="height: calc(100% - 74px);">
                            <div class="text-3xl">
                                Criar nova pergunta?
                            </div>
                            <div class="w-3/5">
                                <button
                                    class="border w-full p-2 rounded-lg bg-emerald-500 text-white hover:bg-emerald-600"
                                    id="stepNext">Começar agora.</button>
                            </div>
                        </div>

                        <div class="flex flex-col gap-4 hidden">
                            <div class="flex flex-col gap-3">
                                <label for="name_RES" class="text-lg">* Tema da Pergunta:</label>
                                <input type="text" class="border w-full p-2 rounded-lg" id="name_RES"
                                    onchange="FormLoading(this)" placeholder="Tema da sua pergunta">

                                <div class="flex">
                                    <input type="checkbox" id="checkbox_RES" class="mr-2">
                                    <label for="checkbox_RES" class="text-lg">Sua pergunta é nichada? *</label>
                                </div>
                                <div>
                                    <label for="category_RES">Categoria *</label>
                                    <div class="flex flex-col dropdown">
                                        <div>
                                            <input type="text" id="category"_RES class="border w-full p-2 rounded-lg" placeholder="Categoria/Subcategoria" onchange="FormLoading(this)">
                                        </div>
                                        <div class="w-full relative">
                                            <div class="group w-full absolute hidden text-blue-400 bg-white rounded border">
                                                <ul class="max-h-56 overflow-auto category">
                                                    <li class="p-2 hover:bg-blue-500 hover:text-white" value="1">aaa</li>
                                                    <li class="p-2 hover:bg-blue-500 hover:text-white" value="2">aaa</li>
                                                    <li class="p-2 hover:bg-blue-500 hover:text-white" value="3">aaa</li>
                                                    <li class="p-2 hover:bg-blue-500 hover:text-white" value="4">aaa</li>
                                                    <li class="p-2 hover:bg-blue-500 hover:text-white" value="5">aaa</li>
                                                    <li class="p-2 hover:bg-blue-500 hover:text-white" value="6">aaa</li>
                                                    <li class="p-2 hover:bg-blue-500 hover:text-white" value="7">aaa</li>
                                                    <li class="p-2 hover:bg-blue-500 hover:text-white" value="8">aaa</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <button
                                    class="border w-full p-2 rounded-lg bg-emerald-500 text-white hover:bg-emerald-600 prx disabled:bg-transparent disabled:text-gray-400"
                                    id="stepNext" disabled>Próximo</button>

                            </div>
                        </div>

                        <div class="flex flex-col gap-4 hidden h-full">
                            <div>
                                <textarea name="" id="desc" class="h-full" onchange="FormLoading(this)"></textarea>
                            </div>
                            <div class="flex gap-3">
                                <button
                                    class="border w-5/6 p-2 rounded-lg bg-emerald-500 text-white hover:bg-emerald-600"
                                    id="stepNext">Perguntar agora</button>
                                <button class="border w-1/6 p-2 rounded-lg text-white text-gray-400"
                                    id="stepBack">Voltar</button>
                            </div>
                        </div>

                        <div class="sucess hidden rounded-lg w-full h-full flex items-center justify-center">
                            <div
                                class="load w-12 h-12 border-8 text-blue-400 text-4xl animate-spin border-transparent flex items-center justify-center border-t-blue-400 rounded-full">
                            </div>
                            <i class='bx bx-check check text-emerald-400 text-7xl hidden'></i>
                        </div>
                    </div>

                </div>
            </div>

            <script src="/dropdown.js"></script>

            <script>
                function FormLoading(data) {
                    if (data.id == "name_RES") {
                        document.querySelector('#name').value = data.value
                    }

                    if (data.id == "desc") {
                        document.querySelector('form textarea').value = data.value
                    }

                    if (data.id == "category") {
                        document.querySelector('#category').value = data.value
                        console.log(document.querySelector('#category').value)
                        
                    }
                    
                    if (document.querySelector('#category').value != "" && document.querySelector('#name').value != "") {
                            document.querySelector('.prx').removeAttribute('disabled', 'disabled')
                        } else {
                            document.querySelector('.prx').setAttribute('disabled', 'disabled')
                        }
                };
            </script>

            <script>
                const Next = document.querySelectorAll('#stepNext')
                const Back = document.querySelectorAll('#stepBack')
                const Step = document.querySelectorAll('div#steps > div')
                const StepCircle = document.querySelectorAll('#stepcircle div')
                var StepCurrent = 0;

                function VerifySteps(data) {
                    if (data == 0) {
                        Step[0].classList.remove('hidden')
                        Step[1].classList.add('hidden')
                        Step[2].classList.add('hidden')
                        Step[3].classList.add('hidden')

                        StepCircle[0].classList.remove('active')
                        StepCircle[0].classList.remove('bg-emerald-500')
                        StepCircle[2].classList.remove('active')
                        StepCircle[2].classList.remove('bg-emerald-500')
                    }

                    if (data == 1) {
                        Step[0].classList.add('hidden')
                        Step[1].classList.remove('hidden')
                        Step[2].classList.add('hidden')
                        Step[3].classList.add('hidden')

                        document.querySelector('.box').classList.remove('w-4/5', 'h-4/5')
                        document.querySelector('.box').classList.add('w-[570px]', 'h-[500px]')

                        StepCircle[0].classList.remove('active')
                        StepCircle[1].classList.remove('bg-emerald-500')
                        StepCircle[2].classList.remove('active')
                        StepCircle[3].classList.remove('bg-emerald-500')
                    }

                    if (data == 2) {
                        Step[0].classList.add('hidden')
                        Step[1].classList.add('hidden')
                        Step[2].classList.remove('hidden')
                        Step[3].classList.add('hidden')

                        document.querySelector('.box').classList.add('w-4/5', 'h-4/5')

                        StepCircle[0].classList.add('active')
                        StepCircle[1].classList.add('bg-emerald-500')
                        StepCircle[2].classList.remove('active')
                        StepCircle[3].classList.remove('bg-emerald-500')
                    }

                    if (data == 3) {
                        Step[0].classList.add('hidden')
                        Step[1].classList.add('hidden')
                        Step[2].classList.add('hidden')
                        Step[3].classList.remove('hidden')

                        document.querySelector('.box').classList.remove('p-5')
                        setInterval(() => {
                            document.querySelector('.load').classList.add('hidden')
                            document.querySelector('.check').classList.remove('hidden')
                            document.querySelector('form').submit();
                        }, 1000)

                        for (let index = 0; index < StepCircle.length; index++) {
                            StepCircle[index].classList.add('hidden');
                        }
                    }


                }

                for (let index = 0; index < Next.length; index++) {

                    Next[index].onclick = () => {
                        StepCurrent++;
                        StepCurrent >= 3 ? StepCurrent = 3 : StepCurrent;


                        VerifySteps(StepCurrent)

                    }


                }

                for (let index = 0; index < Back.length; index++) {

                    Back[index].onclick = () => {
                        StepCurrent--;
                        StepCurrent <= 0 ? StepCurrent = 0 : StepCurrent;


                        VerifySteps(StepCurrent)
                    }


                }
            </script>

    </body>
    <%- include ('../partials/footer.ejs') %>