<%- include ('../partials/header.ejs') %>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://cdn.tiny.cloud/1/<%= TINY_KEY %>/tinymce/7/tinymce.min.js"
            referrerpolicy="origin"></script>
        <script>
            tinymce.init({
                selector: '#desc'
            });
        </script>
    </head>

    <body>
        <%- include ('../partials/menuout.ejs') %>
            <form method="post" action="/Question/Save">
                <label for="name">Nome da questão</label>
                <input type="text" name="name" id="name" class="border">
                <label for="categoria">Categoria</label>
                <select name="categories" id="categories" class="border">
                    <option value="1">Teste</option>
                    <option value="2">Teste</option>
                </select>
                <label for="subCategories">Subcategoria?</label>
                <input type="checkbox" name="subCategoriesCheck" id="subCategoriesCheck">
                <label for="subcategories">Subcategoria</label>
                <select name="categories" id="categories" class="border" disabled>
                    <option value="1">Teste</option>
                    <option value="2">Teste</option>
                </select>
                <textarea id="desc" name="desc">Hello, World!</textarea>
                <button>Enviar</button>
            </form>

            <script defer>
                const checkbox = document.querySelector("input[name=subCategoriesCheck]");
                const select = document.querySelectorAll("select[name=categories]");

                checkbox.addEventListener('change', function () {
                    if (this.checked) {
                        select[1].removeAttribute('disabled', 'disabled');
                        select[0].setAttribute('disabled', 'disabled');
                    } else {
                        select[0].removeAttribute('disabled', 'disabled');
                        select[1].setAttribute('disabled', 'disabled');
                    }
                });
            </script>
    </body>
    <%- include ('../partials/footer.ejs') %>